
			
			
		</div>
	</div>

	<div class="main_container">
		<% if(locals.error) { %> 
		<div class="n_message"><% error %> </div>
		<% } %> 

	</div>
	
<script src="/assets/js/public/js/trans.js"></script>
<script src="/assets/js/clicks.js"></script>
	
	

	
	</body></html>		