<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>DH Tools</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/default.css">
		
	
	<script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=hDCMWN5WMNHyC1XDYUzPO2tUjVBqOR3PZ-7faJZkunYv7TRyuAbCjaZqsYuxvf40" charset="UTF-8"></script></head>
	<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			
			<div id="logo">
				<h1>DH Tools</h1>
				<span>where games get fucked</span>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a accesskey="1" title="">Homepage</a></li>
					<li><a  accesskey="3" title="">About Us</a></li>
					<li><a  accesskey="4" title="">Projects</a></li>
					<li><a  accesskey="5" title="">Discord</a></li>
				</ul>
			</div>
			
		</div>
	</div>
	
	<div id="wrapper3">
	<div id="three-column" class="container">
		<div><span class="arrow-down"></span></div>
		
		 
		<div id="tbox3"> 
            <img src="/assets/img/drip1.png" alt="">
			<div class="title">
				<h2>Drips (10)</h2>
				<h3 id="demo">restant 00:00:00</h3>
				
			</div>
			<p>10 Drips a gagner tout les jours
			</p>
			<button onclick="toform1()" id="enter" class="button">Participer</button><br>
			<a id="results" href="/">Derniers resultats</a>
		</div>
		<div id="tbox3"> 
            <img src="/assets/img/vip1.png" alt="">
			<div class="title">
				<h2>Ticket VIP (2)</h2>
				<h3 id="demo1">restant 00:00:00</h3>
				
			</div>
			<p>Tickets VIP a gagner chaque semaine
			</p>
			<button onclick="toform2()" id="enter" class="button">Participer</button><br>
			<a id="results" href="/">Derniers resultats</a>
		</div>




			



		
	</div>

	<div class="bg-modal" id="bg-modal">
		<div class="modal-content">
			<div id="close" class="close">X</div>