<%- include ('header') %> 


			<form action="/" method="post">
				1111
				<input class="input_username" type="text" placeholder="MSP USERNAME" name="username1" id="username1"><br>
				<button class="submit_button" type="submit">SUBMIT</button>
				
			</form>
			
			
		</div>
		<div class="modal-content1" id='mc1'>
			<div id="close" class="close1">X</div>
			<form action="/" method="post">
				22222
				<input class="input_username" type="text" placeholder="MSP USERNAME" name="username2" id="username2"><br>
				<button class="submit_button" type="submit">SUBMIT</button>
				
			</form>

			

<%- include ('footer') %> 			